version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    reviewers:
      - "captain-KasH"
    assignees:
      - "captain-KasH"
    commit-message:
      prefix: "chore"
      include: "scope"
  
  - package-ecosystem: "npm"
    directory: "/example"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5